@model WRMS.Models._UserLogin
@{
    Layout = null;
}
<link rel="stylesheet" href="~/Scripts/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Scripts/adminlte/components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="~/Scripts/adminlte/components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/Content/adminlte/css/AdminLTE.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="~/Scripts/adminlte/plugins/iCheck/square/blue.css">
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/CustomStyle.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width" />

<meta name="viewport" content="width=device-width" />
<body style="overflow-y:hidden;">
    <a href="@Url.Action("Login", "User")" class="btn btn--radius btn-primary" style="float:right;margin:10px;">Login</a>
    <a href="@Url.Action("Login", "User")" class="btn btn--radius btn-outline pull-left" style="float:right;margin:10px;">Inquiry</a>
    @*@Html.ActionLink("Login", "Login", new { @class = "btn btn--radius btn-primary loginBtn", })*@
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title" style="text-align:center">Select Your Run</h2>
                    <div style="display:flex;">
                        <div class="p-t-10" style="padding-right:5px;">
                            @Html.ActionLink("Long Run", "E658InitiateUser", "User", new { @class = "btn btn--radius btn-warning" })
                        </div>
                        <div class="p-t-10">
                            @Html.ActionLink("Short Run", "E658InitiateUser", "User", new { @class = "btn btn--radius btn--green" })
                            @*<button class="btn btn--pill btn--green" type="submit"></button>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style=" margin-top:10rem;height:20px; text-align:center; font-family:Calibri; font-size:16px; color:#808080;">© 2024 Directorate of Information Technology, All Rights Reserved.</div>
        </div>
    </div>
    <hr>

</body>
<hr />

@*@using (Html.BeginForm())
{
  
}*@

