
@using E658.Models

@model IEnumerable<E658.Models.VME658Create>


@using (Html.BeginForm())
{
    <section class="col-lg-12 connectedSortable">
        <div class="nav-tabs-custom">
            <div class="box-body">
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt class="form-group">
                            Report Locations :
                        </dt>
                        <dt class="form-group">
                            <ul class="location-list">
                                @foreach (var location in Model)
                                {
                                    <li>@location.reportedLoc</li>
                                }
                            </ul>
                        </dt>
                    </dl>                    
                </div>
            </div>
        </div>
    </section>

}

